.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #aba3e1;

  margin: 1rem 0;
  padding: 1rem;

  border-radius: 0.2rem;
  transition: 0.3s;
}

.todoItem:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.2s;
}

.todoItem-active {
  background-color: #8b80d6;
  text-decoration: line-through;
  color: #212529;
  opacity: 0.9;
}

.todoItem-active:hover {
  box-shadow: none;
}

p {
  margin: 0 1rem;
  white-space: pre-wrap;
}
